<?xml version='1.0' encoding='UTF-8'?>
<com.smartcodeltd.jenkinsci.plugins.buildmonitor.BuildMonitorDescriptor plugin="build-monitor-plugin@1.7+build.172">
  <permissionToCollectAnonymousUsageStatistics>false</permissionToCollectAnonymousUsageStatistics>
</com.smartcodeltd.jenkinsci.plugins.buildmonitor.BuildMonitorDescriptor>
