<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@1.22">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList/>
    </entry>
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <name>github.com</name>
        <specifications>
          <com.cloudbees.plugins.credentials.domains.HostnameSpecification>
            <includes>github.com, *.github.com</includes>
            <excludes></excludes>
          </com.cloudbees.plugins.credentials.domains.HostnameSpecification>
        </specifications>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <list>
        <com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey plugin="ssh-credentials@1.11">
          <scope>GLOBAL</scope>
          <id>github-ssh-key</id>
          <description>A key for Github.com and Github.gds</description>
          <username>dm-ssp-jenkins</username>
          <passphrase />
          <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$FileOnMasterPrivateKeySource">
            <privateKeyFile>/data/jenkins/github-private-key.pem</privateKeyFile>
          </privateKeySource>
        </com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>
      </list>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>
