<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.throttleconcurrents.ThrottleJobProperty_-DescriptorImpl plugin="throttle-concurrents@2.1">
  <categories class="java.util.concurrent.CopyOnWriteArrayList">
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categoryName>EndToEndTest-preview</categoryName>
      <nodeLabeledPairs/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categoryName>EndToEndTest-staging</categoryName>
      <nodeLabeledPairs/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categoryName>EndToEndTest-production</categoryName>
      <nodeLabeledPairs/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
      <maxConcurrentTotal>4</maxConcurrentTotal>
      <categoryName>AppPipelines</categoryName>
      <nodeLabeledPairs/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty_-ThrottleCategory>
  </categories>
  <throttledPipelinesByCategory class="tree-map"/>
</hudson.plugins.throttleconcurrents.ThrottleJobProperty_-DescriptorImpl>