<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>address not configured yet &lt;nobody@nowhere&gt;</adminAddress>
  <jenkinsUrl>https://{{ inventory_hostname }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
