python-jenkins==0.4.15  # newer ones have broken basic auth :(
jenkins-job-builder==1.6.2
git+https://github.com/rusty-dev/jenkins-job-builder-pipeline.git@f24b9f5b0de03edd59b94061fa5182d11887403d#egg=jenkins_job_builder_pipeline
