---
mount_dir: /data
jenkins_home: /data/jenkins
jenkins_logs_dir: /data/logs

jenkins_repo_url: deb http://pkg.jenkins-ci.org/debian binary/
jenkins_repo_key_url: http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key

jenkins_connection_delay: 1
jenkins_connection_retries: 60

jenkins_hostname: localhost
jenkins_jar_location: /opt/jenkins-cli.jar
jenkins_java_args: ""

jobs: '*'
jobs_disabled: false

dm_applications:
  - api
  - search-api
  - antivirus-api
  - user-frontend
  - briefs-frontend
  - brief-responses-frontend
  - buyer-frontend
  - supplier-frontend
  - admin-frontend
  - router

dm_db_applications:
  - api

jenkins_plugins:
  - ansicolor
  - build-monitor-plugin
  - build-name-setter
  - conditional-buildstep
  - cvs
  - extended-choice-parameter
  - git
  - github
  - github-oauth
  - greenballs
  - htmlpublisher
  - lockable-resources
  - nodejs
  - parameterized-trigger
  - postbuildscript
  - rebuild
  - translation
  - workflow-aggregator  # aka 'Pipeline' suite

jenkins_config_templates:
  - config.xml
  - credentials.xml
  - hudson.plugins.git.GitSCM.xml
  - hudson.tasks.Shell.xml
  - jenkins.model.DownloadSettings.xml
  - com.smartcodeltd.jenkinsci.plugins.buildmonitor.BuildMonitorView.xml
  - jenkins.model.JenkinsLocationConfiguration.xml

build_monitor_jobs:
  - apps-are-up-preview
  - apps-are-up-production
  - database-backup
  - functional-tests-preview
  - functional-tests-staging
  - index-services-preview
  - index-services-production
  - notify-buyers-when-requirements-close-production
  - notify-suppliers-of-dos-opportunities-production
  - notify-suppliers-of-new-questions-answers-production
  - upload-dos-opportunities-email-list-production
  - visual-regression-preview

jenkins_list_views:
  - name: "Data"
    jobs:
      - clean-and-apply-db-dump-google-drive
      - clean-and-apply-db-dump-preview
      - clean-and-apply-db-dump-staging
      - database-backup
      - export-data-preview
      - export-data-production
      - index-services-preview
      - index-services-production
      - index-services-staging
      - index-briefs-preview
      - index-briefs-production
      - index-briefs-staging
      - snapshot-g7-stats-preview
      - snapshot-g7-stats-production
      - update-preview-index-alias
      - update-staging-index-alias
      - update-production-index-alias
  - name: "Functional, visual, and smoke tests"
    jobs:
      - apps-are-up-preview
      - apps-are-up-production
      - apps-are-up-staging
      - functional-tests-preview
      - functional-tests-staging
      - visual-regression-preview
  - name: "Emails"
    jobs:
      - notify-buyers-to-award-closed-briefs-4-weeks-preview
      - notify-buyers-to-award-closed-briefs-4-weeks-production
      - notify-buyers-to-award-closed-briefs-8-weeks-preview
      - notify-buyers-to-award-closed-briefs-8-weeks-production
      - notify-buyers-when-requirements-close-preview
      - notify-buyers-when-requirements-close-production
      - notify-suppliers-of-awarded-briefs-preview
      - notify-suppliers-of-awarded-briefs-production
      - notify-suppliers-of-dos-opportunities-production
      - notify-suppliers-of-new-questions-answers-production
      - notify-suppliers-of-brief-withdrawals-preview
      - notify-suppliers-of-brief-withdrawals-production
      - notify-suppliers-of-brief-withdrawals-staging
      - upload-dos-opportunities-email-list-production
  - name: "Utils and toolkit"
    jobs:
      - build-scripts
      - publish-toolkit-documentation
      - tag-application-deloyment
      - tag-dmapiclient
      - tag-dmcontent-loader
      - tag-dmutils
      - tag-frameworks
      - tag-toolkit
      - update-credentials
      - rotate-api-tokens
      - rotate-production-notify-callback-token
      - virus_scan_s3_bucket
  - name: "Release"
    jobs:
      - release-antivirus-api
      - release-api
      - release-admin-frontend
      - release-briefs-frontend
      - release-brief-responses-frontend
      - release-buyer-frontend
      - release-router
      - release-search-api
      - release-supplier-frontend
      - release-user-frontend
      - database-migration-paas
      - release-app-paas
  - name: "Framework lifecycle jobs"
    jobs:
      - notify-suppliers-whether-application-made-for-framework-production
      - publish-dos-draft-services-preview
      - publish-dos-draft-services-staging
      - publish-dos-draft-services-production
      - publish-g-cloud-draft-services-preview
      - publish-g-cloud-draft-services-staging
      - publish-g-cloud-draft-services-production

app_urls:
  preview:
    data_api: https://api.preview.marketplace.team
    search_api: https://search-api.preview.marketplace.team
    www: https://www.preview.marketplace.team
  staging:
    data_api: https://api.staging.marketplace.team
    search_api: https://search-api.staging.marketplace.team
    www: https://www.staging.marketplace.team
  production:
    data_api: https://api.digitalmarketplace.service.gov.uk
    search_api: https://search-api.digitalmarketplace.service.gov.uk
    www: https://www.digitalmarketplace.service.gov.uk

search_config:
  briefs:
    preview:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
    staging:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
    production:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
  services:
    preview:
      default_index: g-cloud-10
      frameworks: g-cloud-10
      default_mapping_name: services-g-cloud-10
    staging:
      default_index: g-cloud-10
      frameworks: g-cloud-10
      default_mapping_name: services-g-cloud-10
    production:
      default_index: g-cloud-10
      frameworks: g-cloud-10
      default_mapping_name: services-g-cloud-10
