---
data_volume_mount: /data

jenkins_data_dir: /data/jenkins
jenkins_logs_dir: /data/logs

jenkins_repo_url: deb http://pkg.jenkins-ci.org/debian binary/
jenkins_repo_key_url: http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key

jenkins_connection_delay: 1
jenkins_connection_retries: 60

jenkins_domain_name: marketplace.team
jenkins_server_name: "{{ inventory_hostname | regex_replace('^(.*)' + jenkins_domain_name, '\\1') }}"
jenkins_hostname: localhost
jenkins_java_args: ""

jobs: '*'
jobs_disabled: false

dist_tools:
  - bzip2
  - curl
  - fonts-liberation
  - firefox
  - git
  - gnupg2
  - libffi-dev
  - libpq-dev
  - libreadline-dev
  - libsqlite3-dev
  - libyaml-dev
  - make
  - ntp
  - postgresql-client-12
  - python3-dev
  - python3-pip
  - python3-venv
  - ttf-mscorefonts-installer
  - unzip
  - xvfb
  - zip
  - zlib1g-dev

dm_applications:
  - api
  - search-api
  - antivirus-api
  - user-frontend
  - briefs-frontend
  - brief-responses-frontend
  - buyer-frontend
  - supplier-frontend
  - admin-frontend
  - router

dm_db_applications:
  - api

jenkins_plugins:
  - ansicolor
  - audit-trail
  - build-monitor-plugin
  - build-name-setter
  - build-user-vars-plugin
  - conditional-buildstep
  - cvs
  - extended-choice-parameter
  - git
  - github
  - github-oauth
  - htmlpublisher
  - lockable-resources
  - matrix-auth
  - next-executions
  - nodejs
  - parameterized-trigger
  - postbuildscript
  - rebuild
  - throttle-concurrents
  - translation
  - workflow-aggregator  # aka 'Pipeline' suite

jenkins_config_templates:
  - audit-trail.xml
  - config.xml
  - credentials.xml
  - hudson.plugins.git.GitSCM.xml
  - hudson.tasks.Shell.xml
  - jenkins.model.DownloadSettings.xml
  - com.smartcodeltd.jenkinsci.plugins.buildmonitor.BuildMonitorView.xml
  - jenkins.model.JenkinsLocationConfiguration.xml
  - hudson.plugins.throttleconcurrents.ThrottleJobProperty.xml

build_monitor_jobs:
  - apps-are-up-preview
  - apps-are-up-production
  - apps-are-working-preview
  - apps-are-working-production
  - database-backup
  - functional-tests-preview
  - functional-tests-staging
  - index-services-preview
  - index-services-production
  - notify-buyers-when-requirements-close-production
  - notify-suppliers-of-dos-opportunities-production
  - notify-suppliers-of-new-questions-answers-production
  - upload-dos4-opportunities-email-list-production
  - visual-regression-preview

app_urls:
  preview:
    data_api: https://api.preview.marketplace.team
    search_api: https://search-api.preview.marketplace.team
    antivirus_api: https://antivirus-api.preview.marketplace.team
    www: https://www.preview.marketplace.team
    assets: https://assets.preview.marketplace.team
  staging:
    data_api: https://api.staging.marketplace.team
    search_api: https://search-api.staging.marketplace.team
    antivirus_api: https://antivirus-api.staging.marketplace.team
    www: https://www.staging.marketplace.team
    assets: https://assets.staging.marketplace.team
  production:
    data_api: https://api.digitalmarketplace.service.gov.uk
    search_api: https://search-api.digitalmarketplace.service.gov.uk
    antivirus_api: https://antivirus-api.digitalmarketplace.service.gov.uk
    www: https://www.digitalmarketplace.service.gov.uk
    assets: https://assets.digitalmarketplace.service.gov.uk

search_config:
  briefs:
    preview:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2,digital-outcomes-and-specialists-3,digital-outcomes-and-specialists-4
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
    staging:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2,digital-outcomes-and-specialists-3,digital-outcomes-and-specialists-4,digital-outcomes-and-specialists-5
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
    production:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2,digital-outcomes-and-specialists-3,digital-outcomes-and-specialists-4,digital-outcomes-and-specialists-5
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
  services:
    preview:
      default_index: g-cloud-12
      frameworks: g-cloud-12
      default_mapping_name: services-g-cloud-12
    staging:
      default_index: g-cloud-12
      frameworks: g-cloud-12
      default_mapping_name: services-g-cloud-12
    production:
      default_index: g-cloud-12
      frameworks: g-cloud-12
      default_mapping_name: services-g-cloud-12
