---
data_volume_mount: /data

jenkins_data_dir: /data/jenkins
jenkins_logs_dir: /data/logs

jenkins_repo_url: deb http://pkg.jenkins-ci.org/debian binary/
jenkins_repo_key_url: http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key

jenkins_connection_delay: 1
jenkins_connection_retries: 60

jenkins_domain_name: marketplace.team
jenkins_server_name: "{{ inventory_hostname | regex_replace('^(.*)' + jenkins_domain_name, '\\1') }}"
jenkins_hostname: localhost
jenkins_java_args: ""

jobs: '*'
jobs_disabled: false

dist_tools:
  - bzip2
  - curl
  - fonts-liberation
  - git
  - gnupg2
  - libffi-dev
  - libpq-dev
  - libreadline-dev
  - libsqlite3-dev
  - libyaml-dev
  - make
  - ntp
  - postgresql-client
  - python3-dev
  - python3-pip
  - python3-venv
  - unzip
  - xvfb
  - zip
  - zlib1g-dev

dm_applications:
  - api
  - search-api
  - antivirus-api
  - user-frontend
  - briefs-frontend
  - brief-responses-frontend
  - buyer-frontend
  - supplier-frontend
  - admin-frontend
  - router

dm_db_applications:
  - api

jenkins_plugins:
  - ansicolor
  - audit-trail
  - build-monitor-plugin
  - build-name-setter
  - conditional-buildstep
  - cvs
  - extended-choice-parameter
  - git
  - github
  - github-oauth
  - htmlpublisher
  - lockable-resources
  - next-executions
  - nodejs
  - parameterized-trigger
  - postbuildscript
  - rebuild
  - translation
  - workflow-aggregator  # aka 'Pipeline' suite

jenkins_config_templates:
  - audit-trail.xml
  - config.xml
  - credentials.xml
  - hudson.plugins.git.GitSCM.xml
  - hudson.tasks.Shell.xml
  - jenkins.model.DownloadSettings.xml
  - com.smartcodeltd.jenkinsci.plugins.buildmonitor.BuildMonitorView.xml
  - jenkins.model.JenkinsLocationConfiguration.xml

build_monitor_jobs:
  - apps-are-up-preview
  - apps-are-up-production
  - apps-are-working-preview
  - apps-are-working-production
  - database-backup
  - functional-tests-preview
  - functional-tests-staging
  - index-services-preview
  - index-services-production
  - notify-buyers-when-requirements-close-production
  - notify-suppliers-of-dos-opportunities-production
  - notify-suppliers-of-new-questions-answers-production
  - upload-dos4-opportunities-email-list-production
  - visual-regression-preview

jenkins_list_views:

  - name: "Data"
    jobs:
      - clean-and-apply-db-dump-s3
      - clean-and-apply-db-dump-preview
      - clean-and-apply-db-dump-staging
      - database-backup
      - data-retention-preview
      - data-retention-staging
      - data-retention-production
      - export-dos-opportunities-preview
      - export-dos-opportunities-production
      - export-supplier-csv-preview
      - export-supplier-csv-staging
      - export-supplier-csv-production
  - name: "ES indexes"
    jobs:
      - create-index-preview
      - create-index-staging
      - create-index-production
      - update-index-preview
      - update-index-staging
      - update-index-production
      - update-index-alias-preview
      - update-index-alias-staging
      - update-index-alias-production
      - update-briefs-index-preview
      - update-briefs-index-staging
      - update-briefs-index-production
      - update-services-index-preview
      - update-services-index-staging
      - update-services-index-production
  - name: "Functional, visual, and smoke tests"
    jobs:
      - apps-are-up-preview
      - apps-are-up-staging
      - apps-are-up-production
      - apps-are-working-preview
      - apps-are-working-staging
      - apps-are-working-production
      - functional-tests-preview
      - functional-tests-staging
      - visual-regression-preview
      - visual-regression-staging
  - name: "Emails"
    jobs:
      - notify-buyers-to-award-closed-briefs-4-weeks-production
      - notify-buyers-to-award-closed-briefs-8-weeks-production
      - notify-buyers-when-requirements-close-production
      - notify-suppliers-of-awarded-briefs-production
      - notify-suppliers-of-dos-opportunities-production
      - notify-suppliers-of-new-questions-answers-production
      - notify-suppliers-of-brief-withdrawals-production
      - upload-dos4-opportunities-email-list-production
  - name: "Utils and toolkit"
    jobs:
      - build-image
      - build-scripts
      - clean-docker-images
      - docker-base-images
      - docker script runner
      - maintenance-mode
      - notify-slack
      - publish-toolkit-documentation
      - rerelease-all-apps
      - tag-application-deloyment
      - tag-digitalmarketplace-govuk-frontend
      - tag-dmapiclient
      - tag-dmcontent-loader
      - tag-dmutils
      - tag-dmtest-utils
      - tag-frameworks
      - tag-toolkit
      - update-credentials
      - rotate-api-tokens
      - rotate-production-notify-callback-token
      - rotate-ft-account-passwords
      - virus-scan-s3-buckets-preview
      - virus-scan-s3-buckets-staging
      - virus-scan-s3-buckets-production
      - virus-scan-s3-buckets-nightly-preview
      - virus-scan-s3-buckets-nightly-staging
      - virus-scan-s3-buckets-nightly-production
  - name: "Release"
    jobs:
      - release-antivirus-api
      - release-api
      - release-admin-frontend
      - release-briefs-frontend
      - release-brief-responses-frontend
      - release-buyer-frontend
      - release-router
      - release-search-api
      - release-supplier-frontend
      - release-user-frontend
      - database-migration-paas
      - release-app-paas
  - name: "Framework lifecycle jobs"
    jobs:
      - generate-upload-and-notify-counterpart-signature-pages-production
      - mark-definite-framework-results-preview
      - mark-definite-framework-results-production
      - notify-suppliers-whether-application-made-for-framework-production
      - notify-suppliers-of-framework-clarification-questions-answers-production
      - notify-suppliers-of-framework-application-event-production
      - notify-suppliers-with-incomplete-applications-production
      - scan-g-cloud-services-for-bad-words
      - stats-performance-platform-digital-outcomes-and-specialists-4-per-hour-production
      - stats-performance-platform-digital-outcomes-and-specialists-4-per-day-production
      - stats-snapshot-g-cloud-12-production
  - name: "Code backups"
    jobs:
      - backup-digitalmarketplace-admin-frontend
      - backup-digitalmarketplace-agreements
      - backup-digitalmarketplace-antivirus-api
      - backup-digitalmarketplace-api
      - backup-digitalmarketplace-apiclient
      - backup-digitalmarketplace-aws
      - backup-digitalmarketplace-bad-words
      - backup-digitalmarketplace-brief-responses-frontend
      - backup-digitalmarketplace-briefs-frontend
      - backup-digitalmarketplace-buyer-frontend
      - backup-digitalmarketplace-content-loader
      - backup-digitalmarketplace-credentials
      - backup-digitalmarketplace-docker-base
      - backup-digitalmarketplace-frameworks
      - backup-digitalmarketplace-frontend-toolkit
      - backup-digitalmarketplace-functional-tests
      - backup-digitalmarketplace-govuk-frontend
      - backup-digitalmarketplace-jenkins
      - backup-digitalmarketplace-maintenance
      - backup-digitalmarketplace-manual
      - backup-digitalmarketplace-performance-testing
      - backup-digitalmarketplace-router
      - backup-digitalmarketplace-runner
      - backup-digitalmarketplace-scripts
      - backup-digitalmarketplace-search-api
      - backup-digitalmarketplace-supplier-frontend
      - backup-digitalmarketplace-test-utils
      - backup-digitalmarketplace-user-frontend
      - backup-digitalmarketplace-utils
      - backup-digitalmarketplace-visual-regression
app_urls:
  preview:
    data_api: https://api.preview.marketplace.team
    search_api: https://search-api.preview.marketplace.team
    antivirus_api: https://antivirus-api.preview.marketplace.team
    www: https://www.preview.marketplace.team
    assets: https://assets.preview.marketplace.team
  staging:
    data_api: https://api.staging.marketplace.team
    search_api: https://search-api.staging.marketplace.team
    antivirus_api: https://antivirus-api.staging.marketplace.team
    www: https://www.staging.marketplace.team
    assets: https://assets.staging.marketplace.team
  production:
    data_api: https://api.digitalmarketplace.service.gov.uk
    search_api: https://search-api.digitalmarketplace.service.gov.uk
    antivirus_api: https://antivirus-api.digitalmarketplace.service.gov.uk
    www: https://www.digitalmarketplace.service.gov.uk
    assets: https://assets.digitalmarketplace.service.gov.uk

search_config:
  briefs:
    preview:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2,digital-outcomes-and-specialists-3,digital-outcomes-and-specialists-4
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
    staging:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2,digital-outcomes-and-specialists-3,digital-outcomes-and-specialists-4
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
    production:
      default_index: briefs-digital-outcomes-and-specialists
      frameworks: digital-outcomes-and-specialists,digital-outcomes-and-specialists-2,digital-outcomes-and-specialists-3,digital-outcomes-and-specialists-4
      default_mapping_name: briefs-digital-outcomes-and-specialists-2
  services:
    preview:
      default_index: g-cloud-11
      frameworks: g-cloud-11
      default_mapping_name: services-g-cloud-11
    staging:
      default_index: g-cloud-11
      frameworks: g-cloud-11
      default_mapping_name: services-g-cloud-11
    production:
      default_index: g-cloud-11
      frameworks: g-cloud-11
      default_mapping_name: services-g-cloud-11
