{% for stage in jenkins_aws_api_credentials %}
[{{ stage }}]
aws_access_key_id = {{ jenkins_aws_api_credentials[stage].key }}
aws_secret_access_key = {{ jenkins_aws_api_credentials[stage].secret }}
{% endfor %}
