[__future__]
param_order_from_yaml=True

[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.
allow_duplicates=False

[jenkins]
user={{ jenkins_api_user }}
password={{ jenkins_api_user_github_personal_access_token }}
; password is from https://github.com/settings/tokens when logged in to that role account
