---
- name: Set Jenkins service boot config
  template: src=jenkins_defaults.j2
            dest=/etc/default/jenkins
            backup=no
  tags: config

- name: Setup Jenkins SSH directory
  file: path=/var/lib/jenkins/.ssh state=directory owner=jenkins group=jenkins
  tags: config

- name: Setup Jenkins SSH config
  copy: src=jenkins_ssh_config dest=/var/lib/jenkins/.ssh/config owner=jenkins mode=600
  tags: config

- name: Decrypt Github key for jenkins user
  become: no
  local_action: >
    shell {{ dm_credentials_repo }}/sops-wrapper -d {{ dm_credentials_repo }}/github/github_com_and_enterprise.enc >
    {{ dm_credentials_repo }}/github/github_com_and_enterprise &&
    chmod 600 {{ dm_credentials_repo }}/github/github_com_and_enterprise
  tags: config

- name: Copy Github keys for jenkins user
  copy: src={{ item.from }} dest=/var/lib/jenkins/.ssh/{{ item.to }} mode=600 owner=jenkins
  tags: config
  with_items:
    - { from: "{{ dm_credentials_repo }}/github/github_com_and_enterprise", to: "github_com_and_enterprise" }

- name: Remove decrypted Github key for jenkins user
  become: no
  local_action: "shell rm {{ dm_credentials_repo }}/github/github_com_and_enterprise"
  tags: config

- name: Setup Jenkins config directory
  file: path=/data/jenkins state=directory owner=jenkins group=jenkins
  tags: config

- name: Copy Jenkins config files
  template: src=jenkins/{{ item }}.j2
        dest=/data/jenkins/{{ item }}
        backup=no
        owner=jenkins
        group=jenkins
  notify: restart jenkins
  with_items: "{{ jenkins_config_templates }}"
  tags: config

- name: Create temp authorized_keys file with shared public ssh key
  copy: src=/{{ lookup('env', 'DM_CREDENTIALS_REPO') }}/aws-keys/ci.pub dest=/home/ubuntu/.ssh/authorized_keys_temp mode=600 owner=ubuntu group=ubuntu
  tags: config

- name: Add dev's public ssh keys to temp authorized_keys file
  shell: >
    executable=/bin/bash
    set -o pipefail &&
    curl -s https://api.github.com/users/{{ item.name }}/keys |
    jq -er '.[] | select(.id=={{ item.key_id }}) | .key' |
    awk '{print $0 " {{ item.name }}"}' >>
    /home/ubuntu/.ssh/authorized_keys_temp
  with_items: jenkins_github_users
  tags: config

- name: Replace authorized_keys with temp authorized_keys
  command: mv /home/ubuntu/.ssh/authorized_keys_temp /home/ubuntu/.ssh/authorized_keys
  tags: config
