---

- name: Install pip
  apt: name=python-pip state=present

- name: Install jenkins-job-builder
  pip: name=jenkins-job-builder state=present

- name: Install jenkins-job-builder-pipeline
  tags: [jenkins-job-builder-pipeline]
  pip:
    name: "git+https://github.com/rusty-dev/jenkins-job-builder-pipeline.git@{{ jenkins_job_builder_pipeline_version }}#egg=jenkins-job-builder-pipeline"
    version: "{{ jenkins_job_builder_pipeline_version }}"
    state: present
    #editable: False # TODO: enabled this when upgrading to Ansible >2.0
  changed_when: False # TODO: remove this when upgrading to Ansible >2.0

- name: Create /etc/jenkins_jobs/definitions
  file: path=/etc/jenkins_jobs/definitions state=directory recurse=yes

- name: Deploy jenkins_jobs.ini
  template: dest=/etc/jenkins_jobs/jenkins_jobs.ini src=jenkins_jobs.ini.j2

- name: Clone digitalmarketplace-credentials repository
  tags: [credentials-repo]
  git:
    repo: "git@github.com:alphagov/digitalmarketplace-credentials.git"
    dest: /var/lib/jenkins/digitalmarketplace-credentials
  sudo: yes
  sudo_user: jenkins

- name: Remove deleted or renamed definitions
  synchronize:
    src: '../../../../job_definitions/'
    dest: '/etc/jenkins_jobs/definitions/'
    delete: yes
    archive: no
    recursive: yes
    rsync_opts: ['--ignore-existing']

- name: Upload jenkins jobs definitions
  template: src={{ item }} dest=/etc/jenkins_jobs/definitions/
  with_fileglob:
    - '../../../../job_definitions/{{ jobs }}.yml'

- name: Test job definitions before updating
  command: su - jenkins -c "jenkins-jobs test /etc/jenkins_jobs/definitions"

- name: Update job definitions
  command: su - jenkins -c "jenkins-jobs update /etc/jenkins_jobs/definitions"
