---
- name: Add Oracle Java Repository
  apt_repository: repo='ppa:webupd8team/java'

- name: Accept Java 8 License
  debconf: name='oracle-java8-installer' question='shared/accepted-oracle-license-v1-1' value='true' vtype='select'

- name: Install Oracle Java 8
  apt: name=oracle-java8-installer state=latest

- name: Adding APT repository key
  tags: [apt]
  apt_key:
    id: ACCC4CF8
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc

- name: Add postgres repository
  tags: [apt]
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ xenial-pgdg main"
    state: present
    update_cache: yes

- name: Install tools
  tags: [apt]
  apt: update_cache=yes name={{ item }} state=present
  with_items:
    - git
    - libpq-dev
    - python-dev
    - libyaml-dev
    - libreadline-dev
    - libffi-dev
    - postgresql-client-9.5
    - curl
    - zip
    - unzip
    - ntp
    - jq
    - xvfb
    - wkhtmltopdf
    - fonts-liberation
    - gnupg2
    - make
    - zlib1g-dev
    - bzip2
    - libsqlite3-dev
    - libssl-dev
    - python3-pip

- name: Install rbenv
  become: yes
  git: repo={{ item.repo }} dest=/var/lib/jenkins/{{ item.path }}
  with_items:
    - {repo: "https://github.com/sstephenson/rbenv.git", path: ".rbenv"}
    - {repo: "https://github.com/sstephenson/ruby-build.git", path: ".rbenv/plugins/ruby-build"}
    - {repo: "https://github.com/carsomyr/rbenv-bundler.git", path: ".rbenv/plugins/bundler"}

- name: Add .rbenv to PATH
  lineinfile:
    dest: /var/lib/jenkins/.bash_profile
    create: yes
    regexp: 'export PATH="/var/lib/jenkins/{{ item.path }}/bin'
    line: 'export PATH="/var/lib/jenkins/{{ item.path }}/bin:$PATH" && export {{ item.env_var }}="/var/lib/jenkins/{{ item.path }}"'
    owner: jenkins
    group: jenkins
  with_items:
    - {path: ".rbenv", env_var: "RBENV_ROOT"}

- name: Add rbenv init
  lineinfile:
    dest: /var/lib/jenkins/.bash_profile
    regexp: '{{ item.name }} init'
    line: 'eval "$({{ item.name }} init -)"'
    owner: jenkins
    group: jenkins
  with_items:
    - {name: "rbenv"}

- name: Add gpg-agent conf directory
  file: path=/var/lib/jenkins/.gnupg state=directory owner=jenkins group=jenkins

- name: Add gpg-agent conf file
  file: path=/var/lib/jenkins/.gnupg/gpg-agent.conf owner=jenkins group=jenkins state=touch

- name: Kill gpg-agent
  command: gpgconf --kill gpg-agent

- name: Copy the NodeSource GPG key to the remote
  copy:
    src: ../files/nodesource.gpg.key
    dest: /tmp/nodesource.gpg.key

- name: Import the NodeSource GPG key into apt
  tags: [apt]
  apt_key:
    file: /tmp/nodesource.gpg.key
    state: present

- name: Add NodeJS apt repository
  tags: [apt]
  apt_repository:
    repo: "deb https://deb.nodesource.com/node_4.x xenial main"
    state: present
    update_cache: yes

- name: Install NodeJS
  tags: [apt]
  apt: pkg=nodejs=4.* state=present

# TODO: Stop installing PhantomJS like this when there is a better
#       apt source available.
- name: Download PhantomJS
  get_url:
    url: "https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2"
    dest: /usr/local/src/phantomjs-2.1.1-linux-x86_64.tar.bz2

- name: Unarchive PhantomJS
  unarchive:
    src: /usr/local/src/phantomjs-2.1.1-linux-x86_64.tar.bz2
    dest: /usr/local/src
    copy: no

- name: Install PhantomJS binary
  file: src=/usr/local/src/phantomjs-2.1.1-linux-x86_64/bin/phantomjs dest=/usr/local/bin/phantomjs state=link

- name: Give jenkins user permissions on its home directory
  file:
    path: /var/lib/jenkins
    owner: jenkins
    group: jenkins
    state: directory
    recurse: yes
